<h1>Pizzas OnlineStore</h1>

<div class="row">
    <% @pizzas.each do |pizza| %>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><%= pizza.name %></div>
                <%= image_tag(pizza.image_url.to_s, height:"300px",width:"100%") %>
            <div class="panel-body">
                <%= pizza.price %>
                <%= pizza.category %>
                <%= pizza.active %>
            </div>
        </div>
    </div>
    <% end %>
</div>