<% provide(:title, 'Sign up') %>

<div class="container text-center">
    <h1>Sign up</h1>
</div>

<div>
  <div>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <span id="user_nameInfo"></span>
      <br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <span id="user_emailInfo"></span>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <span id="user_passwordInfo"></span>
      <br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <span id="user_password_confirmationInfo"></span>
      <br>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#user_name").blur(function(){
      var uname = document.getElementById("user_name").value;
      var patt = /^[a-zA-Z0-9]+$/;
      var result = uname.match(patt);
      if (uname.length == 0){
        $("#user_nameInfo").text("The username can't be empty.");
      }else if (result == null){
        $("#user_nameInfo").text("The field must contain only alphabetical or numeric characters.");
      }else{
        $.post("/checkname?name="+uname,function(data){
          if (data){
            $("#user_nameInfo").text("The username is existed");
          }
          else{
            $("#user_nameInfo").text("");
          }
        });
      }
    });
    
    //validate user_email address
    $("#user_email").blur(function(){
      var umail = document.getElementById("user_email").value;
      var atpos = umail.indexOf("@");
      if (umail.length == 0){
        $("#user_emailInfo").text("The email can't be empty.");
      }
      else if (atpos<0){//"@" isn't included
        $("#user_emailInfo").text("The field should be a valid email address.");
      }else{
        $.post("/checkemail?email="+umail,function(data){
          if (data){
            $("#user_emailInfo").text("The email is existed");
          }
          else{
            $("#user_emailInfo").text("");
          }
        });
      }
    });

    //validate user_password
    $("#user_password").blur(function(){
      var upass = document.getElementById("user_password").value;
      if (upass.length==0){
        $("#user_passwordInfo").text("The password can't be empty.");
      }
      else if (upass.length<8){
        $("#user_passwordInfo").text("The field should be at least 8 characters long.");
      }else{
        $("#user_passwordInfo").text("");
      }
    });

      //validate Confirmation
    $("#user_password_confirmation").blur(function(){
      var conf = document.getElementById("user_password_confirmation").value;
      var upass = document.getElementById("user_password").value;
      if (conf.length == 0){
        $("#user_password_confirmationInfo").text("The field can't be empty.");
      }
      else if (conf != upass){
        $("#user_password_confirmationInfo").text("The password should be the same.");
      }
      else{
        $("#user_password_confirmationInfo").text("");
      }
    });
  });
</script>
